mat-card {
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 4%;
    .fill{
      width: 80%;
    }
    .nofill{
      width: 40%;
    }
  }
  .registration{
    text-align: center;
  }
