<app-sidebar id="home">
  <mat-card class="home">
    <mat-card-title class="text-primary">Benvenuto nel tuo CMR!</mat-card-title>
    <mat-card-subtitle class="mb-5">Cosa puoi fare?</mat-card-subtitle>
    <mat-card-content class="pb-5">
      <div class="container">
        <div class="row d-flex justify-content-around">
          <div class="col-4">
            <mat-card class="bg-primary text-white">
              <mat-card-title class="mb-4 "><i class="bi bi-people"></i> Gestione utenti</mat-card-title>
              <mat-card-content class="mb-3">Visualizza tutti gli utenti che possono sfruttare questo strumento!</mat-card-content>
            </mat-card>
          </div>
          <div class="col-4">
            <mat-card class="bg-primary text-white">
              <mat-card-title class="mb-4"><i class="bi bi-activity"></i> Gestione Clienti</mat-card-title>
              <mat-card-content class="mb-3">La tua azienda tiene ai propri clienti? Gestiscili al meglio con questo CMR</mat-card-content>
            </mat-card>
          </div>
          <div class="col-4">
            <mat-card class="bg-primary text-white">
              <mat-card-title class="mb-4"><i class="bi bi-receipt-cutoff"></i> Gestione Fatture</mat-card-title>
              <mat-card-content class="mb-3">Fatture, fatture, fatture, ma quante sono? mai troppe con questa app
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</app-sidebar>